.delay1 {
    animation: waves 2.5s linear infinite;
    animation-delay: .1s;
}

.delay2 {
    animation: waves 2.5s linear .7s infinite;
}

.delay3 {
    animation: waves 2.5s linear 1.3s infinite;
}

.delay4 {
    animation: waves 2.5s linear 1.9s infinite;
}

.circle {
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #0194c7;
    transition: 1s ease;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 50%;
    margin-top: -30px;
    transform: scale(0);
}