.loading {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: url(../img/bg.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    font-size: calc(3vw + 20px);
    color: white;
    transition: opacity .5s .5s, visibility .5s .5s;

    &.hided {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}