.ships {
    width: 40%;
    max-width: 85vh;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin: 0 5vw;
    padding-top: 40%;
    right: 0;
    background: rgba(0, 0, 0, 0.53);
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    transform: translate(100%, 0);
    opacity: 0;
    visibility: hidden;
    transition: transform .4s, opacity .4s, visibility .4s;

    .placementShips & {
        @extend .to-default-state;
        transition: transform .4s .6s, opacity .4s .6s, visibility .4s .6s;
    }

    .battle &{
        transform: scale(1.3);
        z-index: -1;
    }

    .ship {
        width: 48%;
        margin: 20px auto;
        position: relative;
        cursor: pointer;
        background: transparent;
        transition: background .3s, opacity .3s, filter .3s;

        &:before {
            top: -5px;
            left: -5px;
            border-top: 3px solid #19d559;
            border-left: 3px solid #19d559;
        }

        &:after {
            bottom: -5px;
            right: -5px;
            border-bottom: 3px solid #19d559;
            border-right: 3px solid #19d559;
        }

        &:before, &:after {
            width: 0;
            padding-top: 0;
            content: '';
            position: absolute;
            transition: all .3s;
            opacity: 0;
            height: 0;
        }

        &:hover {
            &:before, &:after {
                width: 25%;
                padding-top: 25%;
                opacity: 1;
            }
        }

        img {
            width: 100%;
        }

        &.selected {
            background: rgba(25, 213, 89, 0.24);

            &:before, &:after {
                width: 100%;
                padding-top: 7px;
                height: 100%;
                padding-right: 7px;
                opacity: 1;
            }
        }

        &.disabled {
            filter: grayscale(100%);
            opacity: 0.4;
            background: none;
            cursor: default;

            &:before, &:after {
                display: none;
            }
        }
    }

    .ship-4 {
        .ship {
            width: 50%;
        }
    }

    .ship-2 {
        .ship {
            width: 36%;
        }
    }

    .ship-1 {
        .ship {
            width: 42%;
            margin: 2.3vw auto;
        }
    }

    .delay1 {
        animation: waves 2.5s linear infinite;
        animation-delay: .1s;
    }

    .delay2 {
        animation: waves 2.5s linear .7s infinite;
    }

    .delay3 {
        animation: waves 2.5s linear 1.3s infinite;
    }

    .delay4 {
        animation: waves 2.5s linear 1.9s infinite;
    }

    .circle {
        display: block;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: #0194c7;
        transition: 5s ease;
        position: absolute;
        left: 50%;
        margin-left: -30px;
        top: 50%;
        margin-top: -30px;
        transform: scale(0);
    }

    .ships-are-placed-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: opacity .8s .2s, transform .8s .2s, visibility .8s .2s;
        transform: scale(2);
        opacity: 0;
        visibility: hidden;
        color: white;
        text-align: center;

        h2 {
            font-size: calc(14px + 2vw);
        }

        .description {
            font-size: calc(14px + 1.2vw);
            padding: 2vw;
        }

        .timer {
            font-size: calc(14px + 2.4vw);
            padding: 3vw;
            position: relative;

            h2 {
                font-size: calc(14px + 3vw);
                animation: bloop .95s linear 1.9s;
            }

            .timer-start-battle {
                display: block;
                position: relative;
                font-size: calc(14px + 5vw);
                font-weight: bold;
            }

            .time-wrapper {
                position: relative;
                margin: 10vw 0;

                .circle {
                    background: $color-red;
                }
            }
        }
    }

    .rival-ready {
        display: none;
    }

    .rival-not-ready {
        display: none;
    }

    .ships-container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: opacity .8s, transform .8s, visibility .8s;

        & > div {
            width: 25%;
            text-align: center;
        }

        .ships-text {
            color: white;
            width: 100%;
            height: auto;
            font-size: calc(1.7vw);
            padding: 2vw 2vw 0;
        }
    }

    &.ships-are-placed {
        .ships-container {
            transform: scale(.4);
            opacity: 0;
            visibility: hidden;
        }

        .ships-are-placed-container {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
    }
}

.set-ships {
    .my-field {
        & > div {
            .event-cell {
                transition: background .1s;
            }

            &:hover {
                .event-cell {
                    background: rgba(25,213,89,.54);
                    cursor: pointer;
                }
            }

            &.ship:hover, &.prohibited:hover {
                .event-cell {
                    background: $color-red;
                    cursor: default;
                }
            }

            &.no-color {
                .event-cell {
                    background: transparent !important;
                }
            }
        }

        &.vertical {
            .size-2, .size-3, .size-4 {
                & + * + * + * + * + * + * + * + * + * + * {
                    .event-cell {
                        background: rgba(25, 213, 89, .54);
                    }

                    &.prohibited, &.ship {
                        .event-cell {
                            background: $color-red;
                        }
                    }
                }
            }

            .size-3, .size-4 {
                & + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * {
                    .event-cell {
                        background: rgba(25, 213, 89, .54);
                    }

                    &.prohibited, &.ship {
                        .event-cell {
                            background: $color-red;
                        }
                    }
                }
            }

            .size-4 {
                & + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * {
                    .event-cell {
                        background: rgba(25, 213, 89, .54);
                    }

                    &.prohibited, &.ship {
                        .event-cell {
                            background: $color-red;
                        }
                    }
                }
            }
        }

        &.horizontal {
            .size-2, .size-3, .size-4 {
                & + * {
                    .event-cell {
                        background: rgba(25, 213, 89, .54);
                    }

                    &.prohibited, &.ship {
                        .event-cell {
                            background: $color-red;
                        }
                    }
                }
            }

            .size-3, .size-4 {
                & + * + * {
                    .event-cell {
                        background: rgba(25, 213, 89, .54);
                    }

                    &.prohibited, &.ship {
                        .event-cell {
                            background: $color-red;
                        }
                    }
                }
            }

            .size-4 {
                & + * + * + * {
                    .event-cell {
                        background: rgba(25, 213, 89, .54);
                    }

                    &.prohibited, &.ship {
                        .event-cell {
                            background: $color-red;
                        }
                    }
                }
            }
        }
    }
}
