.start-screen {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    text-align: center;
    visibility: hidden;
    transition: visibility 1.1s;

    h1 {
        margin: 0;
        font-size: calc(40px + 2.6vw);
        padding: calc(30px + 2vw) 0 0;
        transform: translate(0, -100%);
        opacity: 0;
        transition: transform .3s .2s, opacity .3s .2s;
    }

    .link {
        background: #FFFFFF;
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        color: black;
        font-size: calc(20px + 1.2vw);
        padding: 5px 20px;
        margin-top: 25px;
        cursor: pointer;
        position: relative;
        z-index: 2;

        &.done {
            & + .copied {
                margin-top: 0;
            }
        }
    }

    .copied {
        color: white;
        transition: margin .3s;
        font-size: 25px;
        padding-top: 8px;
        margin-top: -38px;
    }

    .label {
        font-size: calc(20px + 1.2vw);
        margin: 0;
        padding: 0;
    }

    .qr {
        background: white;
        border-radius: 20px;
        padding: 10px;
        margin-top: 25px;
        display: inline-block;

        svg {
            width: 110px;
            height: 110px;
        }
    }

    .share {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transform: scale(.4);
        transition: transform .6s .5s, opacity .6s .5s;
    }

    &.active {
        visibility: visible;
        transition: visibility 0s;

        h1 {
            transform: translate(0, 0);
            opacity: 1;
        }

        .share {
            transform: scale(1);
            opacity: 1;
        }
    }
}